/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~material-design-icons/iconfont/material-icons.css'; */

.iconColumn {
    width: 5%;
}

.tableDiv {
    width: 70%;
    margin: auto;
}

.title-group {
    align-items: center;
}

.icons {
    display:flex;
}