<div class="tableDiv">
    <mat-card>
        <mat-card-header>
            <mat-card-title-group class="title-group">
                <mat-card-title>Employees</mat-card-title>
            </mat-card-title-group>
            <button mat-icon-button matTooltip="Add Employee" (click)="addEmployee()" color="primary">
                <mat-icon fontIcon="add_circle_outline"></mat-icon>
            </button>
        </mat-card-header>

        <table mat-table [dataSource]="employeeList" class="table">
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> First Name</th>
                <td mat-cell *matCellDef="let employee"> {{employee.first_name}} </td>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef> Last Name</th>
                <td mat-cell *matCellDef="let employee"> {{employee.last_name}} </td>
            </ng-container>

            <ng-container matColumnDef="salary">
                <th mat-header-cell *matHeaderCellDef> Salary</th>
                <td mat-cell *matCellDef="let employee"> ${{ employee.salary | number:'1.0-0' }} </td>
            </ng-container>

            <ng-container matColumnDef="icons">
                <th mat-header-cell *matHeaderCellDef class="iconColumn"></th>
                <td mat-cell *matCellDef="let employee"> 
                    <div class="icons">
                        <button mat-icon-button matTooltip="Edit Employee" (click)="editEmployee(employee)" color="primary">
                            <mat-icon fontIcon="edit"></mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Delete Employee" (click)="deleteEmployee(employee)" color="warn">
                            <mat-icon fontIcon="delete_forever"></mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
        </mat-paginator>
    </mat-card>
</div>